# Hypothesis3：
# We expect there is a strong positive correlation between the number of electric and plug-in hybrid vehicles sold compared to the number of public charging stations in the same region.

### In Hypothesis 3, after the analysis of the previous Hypothesis 2, we want to continue to explore what factors are related to the number of electric vehicles. We first think of the number of charging piles, because the density of charging piles determines the difficulty of charging electric vehicles in this area. Therefore, we think that the number of charging piles will affect the development of electric vehicles in a region. Therefore, we use univariate linear regression to analyze the linear relationship between these two variables.

In [152]:
import pandas as pd
from pandas import DataFrame
import os.path
import matplotlib.pyplot as plt
from pylab import *
from sklearn.linear_model import LinearRegression
import numpy as np
import seaborn as sns

## US Population in Each Zip

In [153]:
us_zip_df = pd.read_csv('data/uszips.csv')

In [154]:
us_zip_df = DataFrame(us_zip_df)

In [155]:
us_zip_df = us_zip_df[['zip','state_id','population']]

NY Population in Each Zip

In [156]:
us_zip_df_ny = us_zip_df[us_zip_df['state_id'] == 'NY']

In [157]:
us_zip_df_ny = us_zip_df_ny[['zip','population']]

In [158]:
us_zip_df_ny = us_zip_df_ny.rename(columns={'zip':'ZIP Code'})

TX Population in Each Zip

In [159]:
us_zip_df_tx = us_zip_df[us_zip_df['state_id'] == 'TX']

In [160]:
us_zip_df_tx = us_zip_df_tx[['zip', 'population']]
us_zip_df_tx = us_zip_df_tx.rename(columns={'zip':'ZIP Code'})

In [161]:
us_zip_df_tx = us_zip_df_tx.fillna(0)

WA Population in Each Zip

In [162]:
us_zip_df_wa = us_zip_df[us_zip_df['state_id'] == 'WA']

In [163]:
us_zip_df_wa = us_zip_df_wa[['zip', 'population']]
us_zip_df_wa = us_zip_df_wa.rename(columns={'zip':'ZIP Code'})

In [164]:
us_zip_df_wa = us_zip_df_wa.fillna(0)

## Ev Station Count in Each Zip Code

In [165]:
ev_station_data = pd.read_csv('data/ev_stations_v1.csv')
ev_station_data = DataFrame(ev_station_data)

/Users/hyc/opt/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (6,20) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [166]:
ev_station_data.head(10)

,Fuel Type Code,Station Name,Street Address,Intersection Directions,City,State,ZIP,Plus4,Station Phone,Status Code,...,EV Pricing (French),LPG Nozzle Types,Hydrogen Pressures,Hydrogen Standards,CNG Fill Type Code,CNG PSI,CNG Vehicle Class,LNG Vehicle Class,EV On-Site Renewable Source,Restricted Access
0,ELEC,LADWP - Truesdale Center,11797 Truesdale St,NaN,Sun Valley,CA,91352,NaN,NaN,E,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ELEC,LADWP - West LA District Office,1394 S Sepulveda Blvd,NaN,Los Angeles,CA,90024,NaN,NaN,E,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ELEC,Los Angeles Convention Center,1201 S Figueroa St,West hall and South hall,Los Angeles,CA,90015,NaN,213-741-1151,E,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ELEC,LADWP - John Ferraro Building,111 N Hope St,Across Hope,Los Angeles,CA,90012,NaN,NaN,E,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ELEC,LADWP - Haynes Power Plant,6801 E 2nd St,NaN,Long Beach,CA,90803,NaN,NaN,E,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,ELEC,State Capitol Parking Garage,1303 10th St,At 12th and N St,Sacramento,CA,95814,NaN,NaN,E,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,ELEC,LADWP - Harbor Generating Station,161 N Island Ave,At B St,Wilmington,CA,90744,NaN,NaN,E,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,ELEC,LADWP - Sylmar West,13201 Sepulveda Blvd,NaN,Sylmar,CA,91342,NaN,NaN,E,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,ELEC,LADWP - EV Service Center,1630 N Main St,NaN,Los Angeles,CA,90012,NaN,NaN,E,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,ELEC,LADWP - Fairfax Center,2311 S Fairfax Ave,NaN,Los Angeles,CA,90016,NaN,NaN,E,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [167]:
ev_station_data.loc[:,'State'].value_counts()

CA    14651
NY     2977
FL     2665
TX     2319
MA     2198
WA     1775
CO     1627
GA     1588
MD     1263
PA     1166
VA     1142
NC     1124
IL     1068
MO     1053
OR      992
OH      976
UT      908
AZ      890
MI      831
NJ      749
TN      683
MN      583
CT      533
KS      494
WI      479
NV      458
SC      391
HI      386
IN      354
VT      331
OK      314
ME      302
DC      292
IA      284
AL      278
RI      257
KY      225
NM      191
NE      177
NH      166
AR      165
LA      158
ID      138
DE      133
MS      115
WV      111
MT       80
WY       70
ND       61
SD       58
AK       53
PR        5
ON        2
Name: State, dtype: int64

In [168]:
def ev_station_count_df(file,state):
    """ Count the ev station of each data and return a dataframe

    :param file: ev station file
    :param state: string for three state
    :return: the dataframe of the count of ev station of each state
    """
    if state == 'All':
        file_clean = file
    else:
        file_clean = file[file['State']==state]
    file_count = file_clean.loc[:,'ZIP'].value_counts()
    file_count_df = DataFrame(file_count)
    file_count_df = file_count_df.rename_axis('ZIP Code').reset_index()
    ev_station_count = file_count_df.rename(columns={'ZIP': 'Count'})
    return ev_station_count

In [169]:
ev_station_count_df(ev_station_data,'All')

      ZIP Code  Count
0        94025    259
1        95054    235
2        92618    134
3        94080    115
4        94025    113
...        ...    ...
13576    72076      1
13577    14530      1
13578    22963      1
13579    32433      1
13580    29349      1

[13581 rows x 2 columns]

New York State EV Station data

In [170]:
ev_station_count_df(ev_station_data,'NY')

    ZIP Code  Count
0      12866     50
1      14203     30
2      14623     26
3      14850     24
4      12401     24
..       ...    ...
919    13339      1
920    13669      1
921    12043      1
922    12165      1
923    14009      1

[924 rows x 2 columns]

In [171]:
ev_station_count_ny = ev_station_count_df(ev_station_data,'NY')

 Texas State EV Station data

In [172]:
ev_station_count_tx = ev_station_count_df(ev_station_data,'TX')

In [173]:
ev_station_count_tx

    ZIP Code  Count
0      78701     43
1      76155     34
2      77002     27
3      75201     26
4      77004     26
..       ...    ...
739    75207      1
740    75672      1
741    78504      1
742    77802      1
743    76825      1

[744 rows x 2 columns]

Washington State EV Station data

In [174]:
ev_station_count_wa = ev_station_count_df(ev_station_data,'WA')

In [175]:
ev_station_count_wa

    ZIP Code  Count
0      98004     57
1      98121     51
2      98109     49
3      98004     49
4      99354     46
..       ...    ...
436    98642      1
437    99403      1
438    98037      1
439    99204      1
440    98022      1

[441 rows x 2 columns]

## Ev Car Count in Each Zip Code

In [176]:
newyork_data = pd.read_csv('data/ny_ev_registrations_public.csv')
texas_data = pd.read_csv('data/tx_ev_registrations_public.csv')
washington_data = pd.read_csv('data/wa_ev_registrations_public.csv',low_memory = False)

Newyork State Car Count

In [177]:
def ev_car_count_df(file):
    """ Calculate the number of car in each zip code

    :param file:state car data
    :return:the car count of each state
    """
    file = DataFrame(file)
    file_count = file.loc[:,'ZIP Code'].value_counts()
    file_count_df = DataFrame(file_count)
    file_count_df = file_count_df.rename(columns={'ZIP Code': 'Count'})
    ev_car_count = file_count_df.rename_axis('ZIP Code').reset_index()
    return ev_car_count

In [178]:
ev_car_count_ny = ev_car_count_df(newyork_data)

In [179]:
ev_car_count_ny

      ZIP Code  Count
0        11746  31256
1        10583  31051
2        14850  27366
3        11743  21618
4        11791  21534
...        ...    ...
3570     10654      1
3571     16693      1
3572      6068      1
3573     40202      1
3574      6243      1

[3575 rows x 2 columns]

Texas State Car Count

In [180]:
ev_car_count_df(texas_data)

     ZIP Code  Count
0       75035  12107
1       77479  11976
2       78746  10033
3       78613  10013
4       78704   9262
...       ...    ...
1645    76004      1
1646    76097      1
1647    75555      1
1648    77548      1
1649    79244      1

[1650 rows x 2 columns]

In [181]:
ev_car_count_tx = ev_car_count_df(texas_data)

Washington State Car Count

In [182]:
ev_car_count_df(washington_data)

     ZIP Code  Count
0       98052  69190
1       98033  45620
2       98115  43273
3       98004  42905
4       98006  41084
...       ...    ...
1099    20009      1
1100    23801      1
1101    21061      1
1102    97266      1
1103    92104      1

[1104 rows x 2 columns]

In [183]:
ev_car_count_wa = ev_car_count_df(washington_data)

## Descriptive Statistics of car_count and ev_station count

Descriptive Statistics of Car Count

In [184]:
ev_car_count_ny_discribe = ev_car_count_ny[['Count']].describe()

In [185]:
ev_car_count_ny_discribe = ev_car_count_ny_discribe.rename(columns = {'Count':'NY_Car_Count'})

In [186]:
ev_car_count_ny_discribe

       NY_Car_Count
count   3575.000000
mean     814.066573
std     2203.457525
min        1.000000
25%        1.000000
50%       19.000000
75%      409.000000
max    31256.000000

In [187]:
ev_car_count_tx_discribe = ev_car_count_tx[['Count']].describe()
ev_car_count_tx_discribe = ev_car_count_tx_discribe.rename(columns={'Count': 'TX_Car_Count'})
ev_car_count_tx_discribe

       TX_Car_Count
count   1650.000000
mean     626.183030
std     1328.413634
min        1.000000
25%       18.000000
50%       92.000000
75%      508.500000
max    12107.000000

In [188]:
ev_car_count_wa_discribe = ev_car_count_wa[['Count']].describe()
ev_car_count_wa_discribe = ev_car_count_wa_discribe.rename(columns={'Count': 'WA_Car_Count'})
ev_car_count_wa_discribe

       WA_Car_Count
count   1104.000000
mean    2142.063406
std     5904.039509
min        1.000000
25%        4.000000
50%       18.000000
75%      871.000000
max    69190.000000

In [189]:
all_state_car_count_df = pd.concat([ev_car_count_ny_discribe,ev_car_count_tx_discribe,ev_car_count_wa_discribe],axis=1)

In [190]:
all_state_car_count_df

       NY_Car_Count  TX_Car_Count  WA_Car_Count
count   3575.000000   1650.000000   1104.000000
mean     814.066573    626.183030   2142.063406
std     2203.457525   1328.413634   5904.039509
min        1.000000      1.000000      1.000000
25%        1.000000     18.000000      4.000000
50%       19.000000     92.000000     18.000000
75%      409.000000    508.500000    871.000000
max    31256.000000  12107.000000  69190.000000

After the descriptive statistics calculation of electric vehicles in each state, we found that the largest average is Washington State, indicating that in each zip code, Washington State has a higher number of electric vehicles, but also in the calculation of the standard deviation, Washington State The degree of data dispersion is also the highest, which also shows that although the average value of Washington is high, the data is too scattered and the range of change is large.

Descriptive Statistics of Station Count

In [191]:
ev_station_count_ny_discribe = ev_station_count_ny[['Count']].describe()
ev_station_count_ny_discribe = ev_station_count_ny_discribe.rename(columns={'Count': 'NY_Station_Count'})
ev_station_count_ny_discribe

       NY_Station_Count
count        924.000000
mean           3.221861
std            4.196103
min            1.000000
25%            1.000000
50%            2.000000
75%            4.000000
max           50.000000

In [192]:
ev_station_count_tx_discribe = ev_station_count_tx[['Count']].describe()
ev_station_count_tx_discribe = ev_station_count_tx_discribe.rename(columns={'Count': 'TX_Station_Count'})
ev_station_count_tx_discribe

       TX_Station_Count
count        744.000000
mean           3.116935
std            3.998456
min            1.000000
25%            1.000000
50%            2.000000
75%            3.000000
max           43.000000

In [193]:
ev_station_count_wa_discribe = ev_station_count_wa[['Count']].describe()
ev_station_count_wa_discribe = ev_station_count_wa_discribe.rename(columns={'Count': 'WA_Station_Count'})
ev_station_count_wa_discribe

       WA_Station_Count
count        441.000000
mean           4.024943
std            6.619998
min            1.000000
25%            1.000000
50%            2.000000
75%            4.000000
max           57.000000

In [194]:
all_state_station_count_df = pd.concat([ev_station_count_ny_discribe, ev_station_count_tx_discribe, ev_station_count_wa_discribe],axis=1)
all_state_station_count_df

       NY_Station_Count  TX_Station_Count  WA_Station_Count
count        924.000000        744.000000        441.000000
mean           3.221861          3.116935          4.024943
std            4.196103          3.998456          6.619998
min            1.000000          1.000000          1.000000
25%            1.000000          1.000000          1.000000
50%            2.000000          2.000000          2.000000
75%            4.000000          3.000000          4.000000
max           50.000000         43.000000         57.000000

Descriptive Statistics of Station Count

Correlation analysis

All Three State Correlation Analysis

In [195]:
def merge_count_data(x_data, y_data, x_col_name, y_col_name):
    """ Merge car_count_data and station_count_file

    :param x_data: dataframe of x (count in each zip code)
    :param y_data: dataframe of y (count in each zip code)
    :param x_col_name: the column name in the dataframe x
    :param y_col_name: the column name in the dataframe y
    :return: a dataframe of the merging result
    """
    merge_data = pd.merge(x_data, y_data, how='left', on='ZIP Code')
    x_colume= merge_data.iloc[:,[1]]
    y_colume= merge_data.iloc[:,[2]]
    x_list= x_colume.columns.values.tolist()
    y_list= y_colume.columns.values.tolist()
    merge_data = merge_data.rename(columns={x_list[0]: x_col_name, y_list[0]: y_col_name})
    merge_data = merge_data.fillna(0)
    #ny_merge_data = ny_merge_data[['Station Count', 'Car Count']]
    merge_data_clean = merge_data.drop(merge_data[merge_data[y_col_name] == 0].index)
    return merge_data_clean

In [196]:
def linear_model_main(data, x_str, y_str):
    """ Show the linear regression plot of the relation of car_count and station_count in each zip code.

    :param data: a dataframe of the merging file (car_count and ev-station_count)
    :param x_str: the column name of x
    :param y_str: the column name of y
    :return: the linear regression plot
    """
    x = data[[x_str]]
    y = data[[y_str]]
    x = x.values.reshape(-1, 1)
    y = y.values.reshape(-1, 1)
    model = LinearRegression()
    model.fit(x, y)
    plt.scatter(data[x_str],data[y_str])
    y_train = model.predict(x)
    plt.plot(x,y_train,color = 'red',label = 'line')
    plt.ylabel(y_str)
    plt.xlabel(x_str)
    plt.show()

In [197]:
all_car_count_df = pd.concat([ev_car_count_wa,ev_car_count_ny,ev_car_count_tx],axis=0)

In [198]:
all_car_count_df

     ZIP Code  Count
0       98052  69190
1       98033  45620
2       98115  43273
3       98004  42905
4       98006  41084
...       ...    ...
1645    76004      1
1646    76097      1
1647    75555      1
1648    77548      1
1649    79244      1

[6329 rows x 2 columns]

In [199]:
all_station_count_df = pd.concat([ev_station_count_wa,ev_station_count_ny,ev_station_count_tx],axis=0)

In [200]:
all_population_data = pd.concat([us_zip_df_wa,us_zip_df_ny,us_zip_df_tx],axis=0)

In [201]:
all_population_data = all_population_data.rename(columns={'zip':'ZIP Code'})

In [202]:
all_station_count_df

    ZIP Code  Count
0      98004     57
1      98121     51
2      98109     49
3      98004     49
4      99354     46
..       ...    ...
739    75207      1
740    75672      1
741    78504      1
742    77802      1
743    76825      1

[2109 rows x 2 columns]

The correlation between all_car_count and all_station_count

In [203]:
all_merge_data_car_station = merge_count_data(all_station_count_df,all_car_count_df,'Station Count','Car Count')

In [204]:
all_merge_data_car_station

     ZIP Code  Station Count  Car Count
0       98004             57    42905.0
1       98121             51    10804.0
2       98109             49    23663.0
5       98101             40        1.0
12      98104             18    17446.0
...       ...            ...        ...
2121    76513              1     1070.0
2122    75211              1      528.0
2123    75207              1      329.0
2125    78504              1        2.0
2126    77802              1      467.0

[1114 rows x 3 columns]

In [205]:
linear_model_main(all_merge_data_car_station,'Station Count','Car Count')

In [206]:
corr_all = all_merge_data_car_station[['Station Count','Car Count']].corr()
sns.heatmap(corr_all, cmap ='Blues', square = True, annot = True)

The correlation between all_car_count and all_population_count

In [136]:
all_population_data

       ZIP Code  population
32938     98001     34455.0
32939     98002     33947.0
32940     98003     49445.0
32941     98004     37265.0
32942     98005     21414.0
...         ...         ...
28344     79932     28893.0
28345     79934     26360.0
28346     79935     18546.0
28347     79936    108668.0
28348     79938     83326.0

[4421 rows x 2 columns]

In [137]:
all_merge_data_car_pop = merge_count_data(all_population_data,all_car_count_df,'Population','Car Count')

In [138]:
all_merge_data_car_pop

      ZIP Code  Population  Car Count
7        98008     25650.0        1.0
19       98026     38292.0        3.0
20       98027     30240.0        1.0
22       98029     29956.0        1.0
26       98033     39802.0        9.0
...        ...         ...        ...
4013     78738     15090.0        1.0
4019     78746     27671.0       14.0
4023     78750     33860.0        1.0
4028     78756      9450.0        1.0
4413     79927     42221.0        1.0

[1772 rows x 3 columns]

In [139]:
linear_model_main(all_merge_data_car_pop,'Population','Car Count')

In [140]:
corr_all = all_merge_data_car_pop[['Population','Car Count']].corr()
sns.heatmap(corr_all, cmap ='Blues', square = True, annot = True)

New York State Correlation analysis

In [141]:
merge_data_clean_ny = merge_count_data(ev_station_count_ny,ev_car_count_ny,'Station Count','Car Count')

In [142]:
linear_model_main(merge_data_clean_ny,'Station Count','Car Count')

In [143]:
corr_ny = merge_data_clean_ny[['Station Count','Car Count']].corr()
sns.heatmap(corr_ny, cmap ='Blues', square = True, annot = True)

Texas State Correlation Analysis

In [144]:
merge_data_clean_tx = merge_count_data(ev_station_count_tx,ev_car_count_tx,'Station Count','Car Count')

In [145]:
len(merge_data_clean_tx)

276

In [146]:
linear_model_main(merge_data_clean_tx,'Station Count','Car Count')

In [147]:
corr_tx = merge_data_clean_tx[['Station Count','Car Count']].corr()
sns.heatmap(corr_tx, cmap ='Blues', square = True, annot = True)

Washington State Correlation Analysis

In [148]:
merge_data_clean_wa = merge_count_data(ev_station_count_wa,ev_car_count_wa,'Station Count','Car Count')

In [149]:
len(merge_data_clean_wa)

181

In [150]:
linear_model_main(merge_data_clean_wa,'Station Count','Car Count')

In [151]:
corr_wa = merge_data_clean_wa[['Station Count','Car Count']].corr()
sns.heatmap(corr_wa, cmap ='Blues', square = True, annot = True)

The correlation between car_count and population_count

New York State Correlation Analysis

In [77]:
merge_data_car_pop_ny = merge_count_data(us_zip_df_ny,ev_car_count_ny,'Population','Car Count')

In [78]:
linear_model_main(merge_data_car_pop_ny,'Population','Car Count')

In [79]:
corr_ny = merge_data_car_pop_ny[['Population','Car Count']].corr()
sns.heatmap(corr_ny, cmap ='Blues', square = True, annot = True)

Texas State Correlation Analysis

In [523]:
# merge_data_car_pop_tx = merge_count_data(us_zip_df_tx, ev_car_count_tx, 'Population', 'Car Count')
# linear_model_main(merge_data_car_pop_tx, 'Population', 'Car Count')

Washington State Correlation Analysis

In [524]:
# merge_data_car_pop_wa = merge_count_data(us_zip_df_wa, ev_car_count_wa, 'Population', 'Car Count')
# linear_model_main(merge_data_car_pop_wa, 'Population', 'Car Count')